{% extends 'base.html' %}
{% block sayfa %}index{% endblock %}
{% block content %}
  <div class="wrapper">
    <!-- content -->
    <section id="content">
    	<div class="container_12">
        <div class="wrapper">
        	<aside class="grid_4">
        	<div class="box">
            	<h2>Pratik Linkler:</h2>
              <ul class="list1">
              	<li><a href="#">Apparel Businesses</a></li>
                <li><a href="#">Business Services</a></li>
                <li><a href="#">Children's Businesses</a></li>
                <li><a href="#">Financial Services</a></li>
                <li><a href="#">Gifts &amp; Novelties</a></li>
                <li><a href="#">Home-Improvement Products</a></li>
                <li><a href="#">Miscellaneous Products &amp; Services</a></li>
                <li><a href="#">Network Marketing</a></li>
                <li><a href="#">Personal-Care Businesses</a></li>
                <li><a href="#">Photo Businesses</a></li>
              </ul>
              <div class="extra-links">
              	<a href="#">Tüm linkler için tıklayın.</a>
              </div><br/>

            	<h2>Linkler:</h2>
              <ul class="list1">
			<li><a href="http://www.europa.eu/" target="_blank"> 
Avrupa Birliği Resmi Sitesi </a></li> 
 
			<li><a href="http://www.deltur.cec.eu.int/main-t.html" target="_blank"> 
Avrupa Komisyonu Türkiye Temsilciliği </a></li> 
 
			<li><a href="http://www.bddk.org.tr/" target="_blank"> 
Bankacılık Düzenleme ve Denetleme Kurumu </a></li> 
 
			<li><a href="http://www.tbb.org.tr/" target="_blank">Bankalar 
Birliği </a></li> 
 
			<li><a href="http://www.basbakanlik.gov.tr/" target="_blank"> 
Başbakanlık </a></li> 
 
			<li><a href="http://www.abgs.gov.tr/" target="_blank"> 
Başbakanlık Avrupa Birliği Genel Sekreterliği </a></li> 
 
			<li><a href="http://www.die.gov.tr/" target="_blank"> 
Başbakanlık Devlet İstatistik Enstitüsü </a></li> 
              </ul>
              <div class="extra-links">
              	<a href="/linkler/">Tüm linkler için tıklayın.</a>
              </div>
            </div>
          </aside>
          <div class="grid_8">
            <div class="indent">
              <article>
                <div class="inside">
                	<h2>Entrepreneur connect discussion groups</h2>
                  <div class="wrapper">
                    <img src="/static/images/1page-img1.jpg" alt="" class="img-indent">
                    <h4>Lorem ipsum dolor sit amet consectetuer adipiscing. Praese vestiblum molestie lacus. Aenean nonume </h4>
                    <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque peni gnis dis parturient montes nascetur ridiculus mus. Nulla du montes nascetu.</p>
                    <a href="#" class="button">Read More</a>
                  </div>
                </div>
              </article>
              <article class="last">
              	<div class="wrapper">
                	<div class="grid_4 colborder alpha">
                  	<div class="inside">
                  	  <h2>Vergi Takvimi</h2>
                      <ul class="news">
                      	<li>
                        	<p class="date"><strong>24</strong>Haz</p>
                            Mayıs 2011 Dönemine Ait Katma Değer Vergisinin Beyanı
                        </li>
                        <li>
                        	<p class="date"><strong>23</strong>Haz</p>
                            Mayıs 2011 Dönemine Ait İstihkaktan Kesinti Suretiyle Tahsil Edilen Damga Vergisi ile Sürekli Mükellefiyeti Bulunanlar İçin Makbuz Karşılığı Ödenmesi Gereken Damga Vergisinin Beyanı
                        </li>
                        <li>
                        	<p class="date"><strong>23</strong>Haz</p>
                            Mayıs 2011 Dönemine Ait GVK 94. Madde ile KVK 15. ve 30. Maddelerine Göre Yapılan Tevkifatların Muhtasar Beyanname ile Beyanı
                        </li>
                        <li>
                        	<p class="date"><strong>20</strong>Haz</p>
Mayıs 2011 Dönemine Ait Yangın Sigortası Vergisinin Beyanı ve Ödemesi
                        </li>
                        <li>
                        	<p class="date"><strong>20</strong>Haz</p>
Mayıs 2011 Dönemine Ait Elektrik ve Havagazı Tüketim Vergisinin Beyanı ve Ödemesi
                        </li>

                      </ul>
                      <a href="#" class="button">Read More</a>
                  	</div>
                  </div>
                	<div class="grid_4 omega">
                  	<div class="inside">
                  	  <h2>Opportunity zone</h2>
                      <p><img src="/static/images/1page-img2.jpg" alt=""></p>
                      <p class="p3">Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penibus et gnis dis parturient montescetur sit amet consec tetuer adipiscing elituris.</p>
                      <a href="#" class="button">Read More</a>
                  	</div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
