{% extends 'base.html' %}
{% block sayfa %}linkler{% endblock %}
{% block content %}
  <div class="wrapper">
    <!-- content -->
    <section id="content">
    	<div class="container_12">
        <div class="wrapper">
        	<aside class="grid_4">
          </aside>
          <div class="grid_12">
            <div class="indent">
              <article>
                <div class="inside">
                	<h2>Linkler</h2>
                  <div class="wrapper">
                    <h4>Aşağıdaki listede önemli kurumların web sitelerine giden linkleri bulabilirsiniz:</h4>
                    <ul class="list1">

			<li><a href="http://www.europa.eu/" target="_blank"> 
Avrupa Birliği Resmi Sitesi </a></li> 
 
			<li><a href="http://www.deltur.cec.eu.int/main-t.html" target="_blank"> 
Avrupa Komisyonu Türkiye Temsilciliği </a></li> 
 
			<li><a href="http://www.bddk.org.tr/" target="_blank"> 
Bankacılık Düzenleme ve Denetleme Kurumu </a></li> 
 
			<li><a href="http://www.tbb.org.tr/" target="_blank">Bankalar 
Birliği </a></li> 
 
			<li><a href="http://www.basbakanlik.gov.tr/" target="_blank"> 
Başbakanlık </a></li> 
 
			<li><a href="http://www.abgs.gov.tr/" target="_blank"> 
Başbakanlık Avrupa Birliği Genel Sekreterliği </a></li> 
 
			<li><a href="http://www.die.gov.tr/" target="_blank"> 
Başbakanlık Devlet İstatistik Enstitüsü </a></li> 
 
			<li><a href="http://www.dpt.gov.tr/" target="_blank"> 
Başbakanlık Devlet Planlama Teşkilatı </a></li> 
 
			<li><a href="http://www.gumruk.gov.tr/" target="_blank"> 
Başbakanlık Gümrük Müsteşarlığı </a></li> 
 
			<li><a href="http://www.hazine.gov.tr/" target="_blank"> 
Başbakanlık Hazine Müsteşarlığı </a></li> 
 
			<li><a href="http://www.oib.gov.tr/" target="_blank"> 
Başbakanlık Özelleştirme İdaresi Başkanlığı </a></li> 
 
			<li><a href="http://www.calisma.gov.tr/" target="_blank"> 
Çalışma ve Sosyal Güvenlik Bakanlığı </a></li> 
 
			<li><a href="http://www.bagkur.gov.tr/" target="_blank"> 
Çalışma ve Sosyal Güvenlik Bakanlığı Bağ-Kur Genel Müdürlüğü </a></li> 
 
			<li><a href="http://www.ssk.gov.tr/" target="_blank">Çalışma 
ve Sosyal Güvenlik Bakanlığı Sosyal Sigortalar Kurumu</a></li>  
 
			<li><a href="http://www.cevre.gov.tr/" target="_blank"> 
Çevre Bakanlığı </a></li> 
 
			<li><a href="http://www.danistay.gov.tr/" target="_blank"> 
Danıştay Başkanlığı </a></li> 
 
			<li><a href="http://www.emekli.gov.tr/" target="_blank">Emekli 
Sandığı Genel Müdürlüğü </a></li> 
 
			<li><a href="http://www.gelirler.gov.tr/" target="_blank"> 
Gelirler Genel Müdürlüğü </a></li> 
 
			<li><a href="http://www.huk.gov.tr/" target="_blank">Hesap 
Uzmanları Kurulu </a></li> 
 
			<li><a href="http://www.ist-def.gov.tr/" target="_blank"> 
İstanbul Defterdarlığı </a></li> 
 
			<li><a href="http://www.imkb.gov.tr/" target="_blank">İstanbul 
Menkul Kıymetler Borsası </a></li> 
 
			<li><a href="http://www.ismmmo.org.tr/" target="_blank"> 
İstanbul S. M.M.M. Odası </a></li> 
 
			<li><a href="http://www.kosgeb.gov.tr/" target="_blank">Küçük 
ve Orta Ölçekli Sanayi Geliştirme ve Destekleme İdaresi Başkanlığı </a></li> 

			<li><a href="http://www.maliye.gov.tr/" target="_blank">Maliye 
Bakanlığı </a></li> 
 
			<li><a href="http://www.tcmb.gov.tr/" target="_blank">Merkez 
Bankası </a></li> 
 
			<li><a href="http://www.oib.gov.tr/" target="_blank"> 
Özelleştirme Dairesi Başkanlığı </a></li> 
 
			<li><a href="http://rega.basbakanlik.gov.tr/" target="_blank"> 
Resmî Gazete </a></li> 
 
			<li><a href="http://www.sanayi.gov.tr/" target="_blank">Sanayi 
ve Ticaret Bakanlığı </a></li> 
 
			<li><a href="http://www.dtm.gov.tr/sb/harita.htm" target="_blank"> 
Serbest Bölgelerin Web Adresleri </a></li> 
 
			<li><a href="http://www.spk.gov.tr/" target="_blank">Sermaye 
Piyasası Kurulu </a></li> 
 
			<li><a href="http://www.eximbank.gov.tr/" target="_blank">Türk 
Eximbank - Türkiye İhracat Kredisi Bankası A.Ş. </a></li> 
 
			<li><a href="http://www.tbmm.gov.tr/" target="_blank">Türkiye 
Büyük Millet Meclisi </a></li> 
 
			<li><a href="http://www.tmud.org.tr/" target="_blank">Türkiye 
Muhasebe Uzmanları Derneği </a></li> 
 
			<li><a href="http://www.turmob.org.tr/" target="_blank"> 
Türkiye S. M.M.M. ve Y.M.M. Odaları Birliği </a></li> 

			<li><a href="http://www.yargitay.gov.tr/" target="_blank">Yargıtay </a></li>
                    </ul>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
